<div class="py-12 bg-light">
  <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-screen-xl lg:px-8">
    <div class="lg:grid lg:grid-cols-3 lg:gap-8">
      {{range .features}}
      <div class="mt-10 lg:mt-0">
        <div class="flex flex-shrink-0 items-center justify-center">
              <div class="flex items-center justify-center h-24 w-24 rounded-full bg-gray-300 bg-opacity-50 shadow-xl">
                <img src="{{.image}}" class="h-16 w-16">
              </div>
        </div>
        <div class="mt-5">
          <h5 class="text-center md:text-left text-lg leading-6 font-medium text-gray-900">{{.title}}</h5>
          <article class="mt-2 prose prose-2xl mx-auto px-5 sm:px-0 text-gray-500">
            {{.description | markdownify}}
          </article>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>
