<div class="py-16 overflow-hidden lg:py-24">
  <div
    class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-screen-xl"
  >

    <div class="relative">
      <h3
        class="text-center text-3xl leading-8 font-extrabold tracking-tight text-primary-darker sm:text-4xl sm:leading-10"
      >
        {{.heading}}
      </h3>
      <p
        class="mt-4 max-w-3xl mx-auto text-center text-xl leading-7 text-brand"
      >
        {{.subheading}}
      </p>
    </div>

    <div
      class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center"
    >
    {{if eq .image.position "left"}}
    <div class="mt-10 -mx-4 relative lg:mt-0">
        <img
          class="relative mx-auto"
          width="490"
          src="{{.image.url}}"
          alt=""
        />
      </div>
    {{end}}

      <div class="relative">
        <h4
          class="text-2xl leading-8 font-extrabold text-primary-darker tracking-tight sm:text-3xl sm:leading-9"
        >
          {{.title}}
        </h4>
        <p class="mt-3 text-lg leading-7 text-gray-500">
          {{.intro}}
        </p>

        <ul class="mt-10">
          {{range .features}}
          <li class="pb-10">
            <div class="flex">
              <div class="flex-shrink-0">
                <img src="{{.image|relURL}}" class="h-24 w-24" />
              </div>
              <div class="ml-4">
                <h5 class="text-lg leading-6 font-medium text-primary-darker">
                  {{.feature}}
                </h5>
                <p class="mt-2 text-base leading-6 text-gray-500">
                  {{.description}}
                </p>
              </div>
            </div>
          </li>
          {{end}}
        </ul>
      </div>
      {{if eq .image.position "right" -}}
      <div class="mt-10 relative lg:mt-0">
        <img
          class="relative mx-auto"
          width="490"
          src="{{.image.url}}"
          alt=""
        />
      </div>
      {{end}}
    </div>

  </div>
</div>
