<div class="bg-light">
  <div class="max-w-screen-xl mx-auto text-center py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      {{.header}}
      <br>
      {{.tag}}
    </h2>
    <div class="mt-8 flex justify-center">
    {{range $index,$value:= .cta}}
      <div class="inline-flex rounded-md shadow{{if ne $index 0}} ml-3{{end}}">
        <a href="{{$value.url}}" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-primary hover:bg-primary-90 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
          {{$value.text}}
        </a>
      </div>
    {{end}}
    </div>
  </div>
</div>
