{{- $upperbg := "" -}}
{{- with .upperbg.color -}}
{{- $upperbg = (printf "%v%v" "bg-" .) -}}
{{- end -}}
{{with .upperbg.shade}}
{{- $upperbg = (printf "%v%v%v" $upperbg "-" .) -}}
{{- end -}}

{{- $lowerbg := "" -}}
{{- with .lowerbg.color -}}
{{- $lowerbg = (printf "%v%v" "bg-" .) -}}
{{- end -}}
{{with .lowerbg.shade}}
{{- $lowerbg = (printf "%v%v%v" $lowerbg "-" .) -}}
{{- end -}}

{{- $bg := "" -}}
{{- with .featured.color -}}
{{- $bg = (printf "%v%v" "bg-" .) -}}
{{- end -}}
{{with .featured.shade}}
{{- $bg = (printf "%v%v%v" $bg "-" .) -}}
{{- end -}}

{{- $text := .featured.color -}}
{{with .featured.shade}}
{{- $text = (printf "%v%v%v" $text "-" .) -}}
{{- end -}}
{{$shade := 0}}
{{if .featured.shade}}
{{$shade = .featured.shade}}
{{end}}

{{$hover := sub (int $shade) 100}}
{{$border := add (int $shade) 100}}
{{if eq $shade 50}}
{{$hover := add (int $shade) 50}}
{{$border := add (int $shade) 150}}
{{end}}

{{if eq $shade 900}}
{{$hover := sub (int $shade) 100}}
{{$border := sub (int $shade) 200}}
{{end}}

{{$color := .featured.color}}

{{$themeable := slice (dict "value" "brand") (dict "value" "primary") (dict "value" "primary-darker") (dict "value" "secondary") (dict "value" "accent") (dict "value" "success") (dict "value" "info") (dict "value" "warning") (dict "value" "error")}}
{{$shadeable := slice (dict "value" "gray") (dict "value" "blueGray") (dict "value" "coolGray") (dict "value" "trueGray") (dict "value" "warmGray") (dict "value" "red") (dict "value" "orange") (dict "value" "amber") (dict "value" "yellow") (dict "value" "lime") (dict "value" "green") (dict "value" "emerald") (dict "value" "teal") (dict "value" "cyan") (dict "value" "lightBlue") (dict "value" "blue") (dict "value" "indigo") (dict "value" "violet") (dict "value" "purple") (dict "value" "fuchsia") (dict "value" "pink") (dict "value" "rose")}}
<div class="{{$upperbg}}">
  <div class="pt-12 px-4 sm:px-6 lg:px-8 lg:pt-20">
    <div class="text-center">
      <h2 class="text-lg leading-6 font-semibold text-gray-300 uppercase tracking-wider">
        {{.brand_title}}
      </h2>
      <p class="mt- text-3xl leading-9 font-extrabold text-white sm:text-4xl sm:leading-10 lg:text-5xl lg:leading-none">
        {{.title}}
      </p>
      <p class="mt-3 max-w-4xl mx-auto text-xl leading-7 text-gray-300 sm:mt-5 sm:text-2xl sm:leading-8">
      {{- .description -}}
      </p>
    </div>
  </div>

  <div class="mt-16 {{$lowerbg}} pb-12 lg:mt-20 lg:pb-20">
    <div class="relative z-0">
      <div class="absolute inset-0 h-5/6 {{$upperbg}} lg:h-2/3"></div>
      <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="relative lg:grid lg:grid-cols-7">
          {{range $index,$value := (first 3 .tiers)}}
          {{if eq $index 0}}
          <div class="mx-auto max-w-md lg:mx-0 lg:max-w-none lg:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-3">
            <div class="h-full flex flex-col rounded-lg shadow-lg overflow-hidden lg:rounded-none lg:rounded-l-lg">
              <div class="flex-1 flex flex-col">
                <div class="bg-white px-6 py-10">
                  <div>
                    <h3 class="text-center text-2xl leading-8 font-medium text-gray-900" id="tier-{{.name}}">
                      {{.name}}
                    </h3>
                    <div class="mt-4 flex items-center justify-center">
                      <span class="px-3 flex items-start text-6xl leading-none tracking-tight text-gray-900">
                        <span class="mt-2 mr-2 text-4xl font-medium">
                          {{.currency}}
                        </span>
                        <span class="font-extrabold">
                          {{.amount}}
                        </span>
                      </span>
                      <span class="text-xl leading-7 font-medium text-gray-500">
                        /{{.per_unit}}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="flex-1 flex flex-col justify-between border-t-2 border-gray-100 p-6 bg-gray-50 sm:p-10 lg:p-6 xl:p-10">
                  <ul>
                    {{range $index,$value := .features}}
                    <li class="{{if gt $index 0 }}mt-4 {{end}}flex items-start">
                      <div class="flex-shrink-0">
                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base leading-6 font-medium text-gray-500">
                        {{.}}
                      </p>
                    </li>
                    {{end}}
                  </ul>
                  {{with .button}}
                  <div class="mt-8">
                    <div class="rounded-lg shadow-md">
                      <a href="{{.url}}" class="text-{{$text}}
                      {{range  last 1 (where $shadeable `value` `in` $color)}}
                       hover:text-{{$color}}-{{$hover}} 
                      {{end}}
                      {{range  last 1 (where $themeable `value` `in` $color)}}
                       hover:text-{{$color}}-90 
                      {{end}}
                      block w-full text-center rounded-lg border border-transparent bg-white px-6 py-3 text-base leading-6 font-medium focus:outline-none focus:shadow-outline transition ease-in-out duration-150" aria-describedby="tier-hobby">
                        {{.cta}}
                      </a>
                    </div>
                  </div>
                  {{end}}
                </div>
              </div>
            </div>
          </div>
          {{end}}
          {{if eq $index 1}}
          <div class="mt-10 max-w-lg mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-start-3 lg:col-end-6 lg:row-start-1 lg:row-end-4">
            <div class="relative z-10 rounded-lg shadow-xl">
              <div class="pointer-events-none absolute inset-0 rounded-lg border-2 border-{{$text}}"></div>
              <div class="absolute inset-x-0 top-0 transform translate-y-px">
                <div class="flex justify-center transform -translate-y-1/2">
                  <span class="{{$bg}} inline-flex rounded-full px-4 py-1 text-sm leading-5 font-semibold tracking-wider uppercase text-white">
                    Most popular
                  </span>
                </div>
              </div>
              <div class="bg-white rounded-t-lg px-6 pt-12 pb-10">
                <div>
                  <h3 class="text-center text-3xl leading-9 font-semibold text-gray-900 sm:-mx-6" id="tier-{{.name}}">
                    {{.name}}
                  </h3>
                  <div class="mt-4 flex items-center justify-center">
                    <span class="px-3 flex items-start text-6xl leading-none tracking-tight text-gray-900 sm:text-6xl">
                      <span class="mt-2 mr-2 text-4xl font-medium">
                        {{.currency}}
                      </span>
                      <span class="font-extrabold">
                        {{.amount}}
                      </span>
                    </span>
                    <span class="text-2xl leading-8 font-medium text-gray-500">
                      /{{.per_unit}}
                    </span>
                  </div>
                </div>
              </div>
              <div class="border-t-2 border-gray-100 rounded-b-lg pt-10 pb-8 px-6 bg-gray-50 sm:px-10 sm:py-10">
                <ul>
                  {{range $index,$value := .features}}
                  <li class="{{if gt $index 0 }}mt-4 {{end}}flex items-start">
                      <div class="flex-shrink-0">
                      <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                      </div>
                      <p class="ml-3 text-base leading-6 font-medium text-gray-500">
                      {{.}}
                      </p>
                  </li>
                  {{end}}
                </ul>
                {{with .button}}
                <div class="mt-10">
                  <div class="rounded-lg shadow-md">
                    <a href="{{.url}}" class="block w-full text-center rounded-lg border border-transparent  px-6 py-4 text-xl leading-6 font-medium text-white focus:outline-none transition ease-in-out duration-150
                    {{$bg}}
                    focus:shadow-outline-{{$color}}
                    {{range  last 1 (where $shadeable `value` `in` $color)}}
                    hover:bg-{{$color}}-{{$hover}} 
                    focus:border-{{$color}}-{{$border}}
                    {{end}}
                    {{range  last 1 (where $themeable `value` `in` $color)}}
                    hover:bg-{{$color}}-90
                    focus:border-{{$color}}-75
                    {{end}}
                    " 
                    aria-describedby="tier-growth">
                    {{.cta}}
                    </a>
                  </div>
                </div>
                {{end}}
              </div>
            </div>
          </div>
          {{end}}
          {{if eq $index 2}}
          <div class="mt-10 mx-auto max-w-md lg:m-0 lg:max-w-none lg:col-start-6 lg:col-end-8 lg:row-start-2 lg:row-end-3">
            <div class="h-full flex flex-col rounded-lg shadow-lg overflow-hidden lg:rounded-none lg:rounded-r-lg">
              <div class="flex-1 flex flex-col">
                <div class="bg-white px-6 py-10">
                  <div>
                    <h3 class="text-center text-2xl leading-8 font-medium text-gray-900" id="tier-{{.name}}">
                      {{.name}}
                    </h3>
                    <div class="mt-4 flex items-center justify-center">
                      <span class="px-3 flex items-start text-6xl leading-none tracking-tight text-gray-900">
                        <span class="mt-2 mr-2 text-4xl font-medium">
                          {{.currency}}
                        </span>
                        <span class="font-extrabold">
                          {{.amount}}
                        </span>
                      </span>
                      <span class="text-xl leading-7 font-medium text-gray-500">
                        /{{.per_unit}}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="flex-1 flex flex-col justify-between border-t-2 border-gray-100 p-6 bg-gray-50 sm:p-10 lg:p-6 xl:p-10">
                  <ul>
                    {{range $index,$value := .features}}
                    <li class="{{if gt $index 0 }}mt-4 {{end}}flex items-start">
                        <div class="flex-shrink-0">
                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        </div>
                        <p class="ml-3 text-base leading-6 font-medium text-gray-500">
                        {{.}}
                        </p>
                    </li>
                   {{end}}
                  </ul>
                  {{with .button}}
                  <div class="mt-8">
                    <div class="rounded-lg shadow-md">
                      <a href="{{.url}}" class="text-{{$text}}
                      {{range  last 1 (where $shadeable `value` `in` $color)}}
                       hover:text-{{$color}}-{{$hover}} 
                      {{end}}
                      {{range  last 1 (where $themeable `value` `in` $color)}}
                       hover:text-{{$color}}-90 
                      {{end}}
                      block w-full text-center rounded-lg border border-transparent bg-white px-6 py-3 text-base leading-6 font-medium focus:outline-none focus:shadow-outline transition ease-in-out duration-150" aria-describedby="tier-hobby">
                        {{.cta}}
                      </a>
                    </div>
                  </div>
                  {{end}}
                </div>
              </div>
            </div>
          </div>
          {{end}}
          {{end}}
        </div>
      </div>
    </div>
  </div>
</div>
