{{$themeable := slice (dict "value" "brand") (dict "value" "primary") (dict "value" "primary-darker") (dict "value" "secondary") (dict "value" "accent") (dict "value" "success") (dict "value" "info") (dict "value" "warning") (dict "value" "error")}}
{{$shadeable := slice (dict "value" "gray") (dict "value" "blueGray") (dict "value" "coolGray") (dict "value" "trueGray") (dict "value" "warmGray") (dict "value" "red") (dict "value" "orange") (dict "value" "amber") (dict "value" "yellow") (dict "value" "lime") (dict "value" "green") (dict "value" "emerald") (dict "value" "teal") (dict "value" "cyan") (dict "value" "lightBlue") (dict "value" "blue") (dict "value" "indigo") (dict "value" "violet") (dict "value" "purple") (dict "value" "fuchsia") (dict "value" "pink") (dict "value" "rose")}}
<div class="bg-light">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-primary-darker sm:text-4xl sm:leading-10">
      {{.header}}
      <br class="hidden sm:inline">
      <span class="text-brand" id="newsletter-headline">{{.subheader}}</span>
    </h2>
    {{with .form}}
    <form method="{{.method}}" action="{{.action}}" class="mt-8 sm:flex" aria-labelledby="newsletter-headline">
      <input aria-label="Email address" type="email" required class="appearance-none w-full px-5 py-3 border border-gray-300 text-base leading-6 rounded-md text-gray-900 bg-white placeholder-gray-500 focus:outline-none focus:shadow-outline-{{.bg.color}} transition duration-150 ease-in-out sm:max-w-xs" placeholder="{{.placeholder}}">
      <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3 sm:flex-shrink-0">
          {{$hover_shade := 100}}
          {{$focus_shade := 200}}
          {{with .bg.shade}}
          {{$hover_shade = sub (int .) 100}}
          {{$focus_shade = sub (int .) 200}}
          {{end}}
          {{if le $hover_shade 0}}
          {{$hover_shade = add (int .bg.shade) 100}}
          {{end}}
          {{if le $focus_shade 0}}
          {{$focus_shade = add (int .bg.shade) 200}}
          {{end}}
        <button type="submit" class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white  focus:outline-none focus:shadow-outline-{{.bg.color}} transition duration-150 ease-in-out
        {{with .bg}}{{with .color}}bg-{{.}}{{end}}{{with .shade}}-{{.}}{{end}}{{end}} 
        {{range  last 1 (where $shadeable `value` `in` .bg.color)}}
        hover:bg-{{.value}}-{{$hover_shade}}
        focus:bg-{{.value}}-{{$focus_shade}}
        {{end}}
        {{range  last 1 (where $themeable `value` `in` .bg.color)}}
        hover:bg-{{.value}}-90
        focus:bg-{{.value}}-75
        {{end}}
        ">
          {{.submit}}
        </button>
      </div>
    </form>
    {{end}}
  </div>
</div>
