{{ define "main"}}
<div class="container mx-auto min-h-screen flex flex-1 justify-center items-center">
  <div class="w-full max-w-lg">
    <div class="leading-loose">
      <div class="max-w-xl m-4 p-10 bg-white rounded shadow-xl">
        <p class="text-gray-800 text-center text-xl font-bold">404 - Not Found</p>
         <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded ml-24" type="submit">
             <a href="/">Take Me Back To Home</a>
         </button>
      </div>
    </div>
  </div>
</div>
{{ end }}
