{{ define "main" }}
{{ if (and ( (isset .Params "featured_image") ) ( not (eq .Params.featured_image "" )) ) }}
{{- partial "cover_photo" . -}}
{{end}}
{{ if (or ( not (isset .Params "featured_image") )  (eq .Params.featured_image "" ) ) }}
<div class="px-4 overflow-hidden sm:px-6 lg:px-8 py-10">
  <div class="relative max-w-7xl mx-auto">
        <h1
        class="mt-10 text-center text-2xl text-primary leading-9 font-extrabold tracking-tight sm:text-4xl sm:leading-10"
        >
        {{- .Page.Params.title -}}
        </h1>
        
  </div>
</div>
{{end}}
<div class="relative pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
    <div class="relative max-w-7xl mx-auto">
        {{if eq .Section "blog"}}
        {{ partial "post" . }}
        {{end}}
        {{if eq .Section "products"}}
        {{ partial "products" . }}
        {{end}}
        {{if eq $.Page.Params.showpagination true}}
        {{ partial "pagination" . }}
        {{end}}
    </div>
</div>
{{ end }}

{{ define "scripts" }}
{{ if .Page.Params.showsearch }}
<script src="/js/fuse.js" async defer></script>
{{end}}
{{end}}