<div
  style="z-index: 999;"
  x-show="modal"
  x-cloak
  class="fixed md:px-4 md:pb-6 inset-0 p-0 flex items-center justify-center"
>
  <div
    x-show="modal"
    x-transition:enter="transition fade-in duration-500"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="transition fade-out duration-400"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
    class="fixed inset-0 transition-opacity"
  >
    <div class="absolute inset-0 bg-transparent"></div>
  </div>

  <div
    x-show="modal"
    x-cloak
    @click.away="closeVideo()"
    class="bg-light rounded-lg overflow-hidden shadow-xl transform transition-all max-w-5xl w-full p-2"
    role="dialog"
    aria-modal="true"
    aria-labelledby="modal-headline"
  >
    <div class="aspect-w-16 aspect-h-9">
    <iframe 
    id="yt-video"
    x-ref="xvideo"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
      >
    </iframe>
    </div>
  </div>
</div>
